.gallery {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 80px;

  h1 {
    font-size: 0;
    width: 5rem;
    height: 5rem;
    background: #efefeb url(../images/gallery_header.jpg) center center / contain no-repeat;
  }
}

.grid-item {
  display: inline-block;
  max-width: calc(33.333% - 10px);

  img {
    width: 100%;
    height: auto;
  }
}