.gallery {
  background-color: #efefeb;
  box-sizing: border-box;
  text-align: center;

  h1 {
    font-size: 0;
    height: 16rem;
    background: #efefeb url(../images/gallery_header.jpg) center center / contain no-repeat;
    padding: 1rem 0;
  }
}

.carousel {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem !important;
}

@media only screen and (min-width: 700px) {
  .carousel__viewport {
    -webkit-mask-image: linear-gradient(90deg, transparent 0%, black 10%, black 90%, transparent 100%);
  }
}

.carousel__button {
  &.is-prev, &.is-next {
    background: rgba(255,255,255,0.6);
    &:disabled { display: none; }
    svg { filter: brightness(0%) contrast(100%); }
  }
}

.photos {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.grid-item {
  display: block;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1.5;
  }
}